# Local icp network:
NEXT_PUBLIC_WIKI_IC_HOST=http://127.0.0.1:8001
NEXT_PUBLIC_II_PROVIDER_URL=http://id.ai.localhost:8001
NEXT_PUBLIC_ICPDB_CANISTER_ID=<local-icpdb-canister-id>
NEXT_PUBLIC_ICPDB_WALLET_HOST=http://127.0.0.1:8001

# Mainnet / Cloudflare Workers:
# NEXT_PUBLIC_WIKI_IC_HOST=https://icp0.io
# NEXT_PUBLIC_II_PROVIDER_URL=https://id.ai
# NEXT_PUBLIC_ICPDB_CANISTER_ID=<mainnet-icpdb-canister-id>
# NEXT_PUBLIC_ICPDB_WALLET_SIGNER_URL=https://oisy.com/sign
# NEXT_PUBLIC_ICPDB_WALLET_HOST=https://icp-api.io
